extends layout

block content
  .container
    form.form-inline
      .form-group
        .col-xs-4
          h3 Find A School:
        .col-xs-3
          input.typeahead-devs#SchoolSearch(type='text', placeholder= 'Olin College')
        .col-xs-4
          button.btn.btn-inverse(type='submit', id='searchSchool') Search
        .col-xs-1.text-right
          button.btn#addSchool
            a(href = '/addSchool') Add School
    br
    script.
      var schools = []

    for school in schools
      .panel.panel-info.schoolPanel(id="#{school.name}")
        script.
          schools.push("#{school.name}");
        .panel-heading
          h2.panel-title #{school.name}
        .panel-body
          .col-xs-3
            img.img-thumbnail(src=school.picture, data-caption=school.name)
          .col-xs-9
            p Established: #{school.est}
            p Students: #{school.students}
            p Student to Faculty Ratio: #{school.ratio}


    //- p #{schoolList}
    //- p #{schoolList.schools}

  script.
    $('.schoolPanel').click(function (){
      window.location = "/schoolPage/" + $(this).attr('id');
      return false;
    });
    //- $('#addSchool').click(function (){
    //-   $.get('/addSchool');
    //-   return false;
    //- });
    $('input.typeahead-devs').typeahead({
      name: 'accounts',
      local: schools
    });